*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #16a085;
}

.container{
    width: 500px;
    padding: 30px 20px;
    text-align: center;
    height: 64vh;
    background-color: #ffffff;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h3{
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
}
.person-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #c3bbb7; 
    padding: 4px; 
    margin-top: -10px;
}

.person-wrapper{  
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  transition: box-shadow 0.2s ease;
}

.person-wrapper:active {
  animation: shake 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p{
    font-size: 14px;
    color: #c3bbb7;
    margin: 10px 0;
}

table{
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
     text-align: left;
}

.total-row th{
     font-weight: bold;
     padding-top: 10px;
}

.label{
    color: #5c5c5c;
}

.price{
    color: #000;
}

td, th{
    padding: 10px;
}

.bike-img{
    height: 170px;
    overflow: hidden;
    margin-top: -25px;
}

.bicycle-img{
    width: 100%;
    margin-top: -50px;
    display: block;
}